.container{
    color: black;
    background-color: whitesmoke;
    border-radius: 10px;
}



.block{
    border-bottom: 2px solid lightgray;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 60px;
    padding: 3px 15px;
    border-radius: 10px;
}

.block span{
    font-weight: bold;
    color: gray;
    font-size: 15px;
}


/****** MEDIA QUERIES******/
@media (max-width: 650px) {
    .block span{
        font-size: 13px;
    }

    .block p{
        font-size: 13px;
    }
  }


  @media (max-width: 450px) {
    .block{
        flex-direction: column;
        min-height: 50px;
    }

    .block span{
        font-size: 12px;
    }

    .block span{
        margin-top: 7px;
        font-size: 13px;
    }
  }