.container{
    margin-top: 20px;
    padding: 0px 8% 8% 8%;
}

.tableWrap{
    margin-top: 50px;
}

.tableWrap h4{
    margin-bottom: 17px;
    text-align: center;
}


/****** MEDIA QUERIES******/
@media (max-width: 450px) {

    .btn_and_search_wrap{
      flex-direction: column;
    }
  
    .btn_and_search_wrap form{
      height: 30px;
    }
  }